
# Core packages
pandas
numpy

# Web scraping
selenium
beautifulsoup4
requests
lxml

# Database
sqlalchemy

# Dashboard & visualization
streamlit
matplotlib
seaborn

# For CSV handling and compatibility
openpyxl